html{
    background-image: url(../images/whatever.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.header{
list-style-type: none;
font family: ;
color:blue;
font-size:xx-large;
display: flex;
justify-content: center;
}
nav{
  display:flex;
  justify-content: center;
  font-size: xx-large;
  color:blueviolet;
  list-style-type: none;
}
.play-video{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: larger;
    color: blueviolet;
    height: 600px;
    list-style-type: none;
}