html{
    background-color: black;
}
nav{
  display:flex;
  justify-content: center;
  font-size: xx-large;
  color: blanchedalmond;
}
.watch{
    list-style-type: none;
    font family: ;
    color:blue;
    font-size:xx-large;
    display: flex;
    justify-content: center;
}
.hold-up{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 600px;
 
}